@use "../../styles/variables" as *;
@use "../../styles//functions" as *;
.list {
    margin-left: 12px;
    border-radius: 8px;
    list-style: none;
    padding: 16px 0;
    display: flex;
    margin-left: 21px;
    flex-direction: column;
    @media (min-width: $device-md) {
        // margin-left: 5px;
    }
    .list_item {
        font-size: toRem(14);
        padding: 4px;
        font-weight: 600;
        line-height: 24px;
        border-right: 1px solid transparent;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        a {
            color: $secondary;
        }
        &:hover {
            border-color: $primary;
            // background-color: #f0f6ff;
            background-color: #fbfbfb;
            a {
                color: $primary;
            }
        }
    }
}